#loading, #brand {
  font-family: 'papyrus','fantasy';
  font-weight: 950;
}

*::-moz-selection {
  background-color: black;
  color: white;
  text-shadow: 2px 2px 4px white;
}

*::selection {
  background-color: black;
  color: white;
  text-shadow: 2px 2px 4px white;
}

#loading {
  display: block;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  padding-top: 21%;
  color: black;
  font-size: 3.5em;
}

@media (min-width: 767px) and (max-width: 1023px) {
  #loading {
    font-size: 2.1em;
  }
}

@media (max-width: 767px) {
  #loading {
    font-size: 2.1em;
  }
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 767px) and (max-width: 1023px) {
  body {
    background-repeat: repeat;
    background-size: contain;
  }
}

@media (max-width: 767px) {
  body {
    background-repeat: repeat;
    background-size: contain;
  }
}

nav .logo:hover a svg .svgPath2 {
  fill: black;
}

nav .logo:hover #brand {
  color: black;
}

.svgPath2 {
  fill: white;
}

.svgPath3 {
  fill: black;
  fill-rule: evenodd;
  opacity: 0.2;
}

#brand {
  color: white;
}

@media (min-width: 1360px) {
  nav > ul > li {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }
  .LinkBg {
    border-radius: 50% 0% 50% 0%;
    background-color: white;
    color: black;
  }
  .LinkBg:hover {
    background-color: black;
    color: white;
  }
  .txt-link {
    color: white;
    border: 1px solid white;
    border-radius: 50% 0% 50% 0%;
  }
  .txt-link:hover {
    color: black;
    border-color: black;
  }
  #navigation {
    display: none;
  }
}

@media (min-width: 1023px) and (max-width: 1360px) {
  nav > ul > li {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }
  .LinkBg {
    border-radius: 50% 0% 50% 0%;
    background-color: white;
    color: black;
  }
  .LinkBg:hover {
    background-color: black;
    color: white;
  }
  .txt-link {
    color: white;
    border: 1px solid white;
    border-radius: 50% 0% 50% 0%;
  }
  .txt-link:hover {
    color: black;
    border-color: black;
  }
  #navigation {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  nav > ul, .nav-link {
    display: none;
  }
  #menu-icon {
    position: relative;
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 9px 0;
  }
  #menu-icon::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 9px 0;
    top: 0;
  }
  #menu-icon::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 9px 0;
    bottom: 0;
  }
  #navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #navigation a {
    background-color: black;
    color: white;
  }
}

@media (max-width: 767px) {
  nav > ul, .nav-link {
    display: none;
  }
  #menu-icon {
    position: relative;
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 9px 0;
  }
  #menu-icon::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 9px 0;
    top: 0;
  }
  #menu-icon::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 9px 0;
    bottom: 0;
  }
  #navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #navigation a {
    background-color: black;
    color: white;
  }
}

.row {
  margin-top: 10%;
  margin-left: 2%;
}
/*# sourceMappingURL=realized.css.map */