
@import 'module';

// Main variables colors
$TextColor: red;
$TextBg: #00cc00;
$LinkBg: red;
$TextSize: 75px;
$margin-top: 10%;

@include General($TextColor,$TextBg,$LinkBg);
.row{ 
    margin-top: $margin-top;
    margin-right: 2%;
}
h1 {
    color: $TextColor;
}