
@import 'module';

// Main variables colors
$TextColor: red;
$TextColor2: white;
$TextBg: #00cc00;
$LinkBg: red;
$TextSize: 75px;
$margin-top: 10%;

@include General($TextColor,$TextBg,$LinkBg);
.row{ 
    margin-top: $margin-top;
    margin-left: 2%;
    p {
            @include Paragraph ($TextColor2,$TextSize);
        }
}
h1 {
    color: $TextColor;
}