
@import 'module';

// Main variables colors
$TextColor: white;
$TextBg: black;
$LinkBg: white;
$TextSize: 75px;
$margin-top: 10%;

@include General($TextColor,$TextBg,$LinkBg);
.row{ 
    margin-top: $margin-top; 
    margin-left: 2%;
}
