
@import 'module';

// Main variables colors
$TextColor: blue;
$TextBg: white;
$LinkBg: blue;
$TextSize: 75px;
$TextSize2: 40px;
$margin-top: 7%;

@include General($TextColor,$TextBg,$LinkBg);
.row{ 
    margin-top: $margin-top; 
    // margin-right: 2%;
    div {
        p {
            @include Paragraph ($TextColor,$TextSize);
            justify-content: end;
            span {
                @include Paragraph ($TextBg,$TextSize2);
                font-style: italic;
            }
        }
    }
}
