
@import 'module';

// Main variables colors
$TextColor: blue;
$TextBg: black;
$LinkBg: blue;
$TextSize: 75px;
$margin-top: 10%;

@include General($TextColor,$TextBg,$LinkBg);
.row{ 
    margin-top: $margin-top; 
    margin-left: 2%;
    .col-md-5 {
        p {
            @include Paragraph ($TextColor,$TextSize);
        }
    }
}
